@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
.sidebar {
  z-index: 2;
  position: fixed;
  right: -250px;
  width: 250px;
  height: 100%;
  background-image: linear-gradient(
    358.4deg,
    rgba(249, 151, 119, 1) -2.1%,
    rgba(98, 58, 162, 1) 90%
  );

  transition: all 0.5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
.sidebar .ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border: 1px solid rgba(255, 255, 255, 0.8);
  transition: 0.4s;
}
.select-nav-home:hover a {
  padding-left: 50px;
}
.sidebar .ul a .nav__img {
  margin-right: 16px;
}
#check {
  display: none;
}
.label .nav__img,
.label .nav__cancel {
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
.label .nav__img {
  right: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  transition: all 0.5s;
}
.label .nav__cancel {
  z-index: 1111;
  right: 40px;
  top: 25px;
  font-size: 30px;
  color: #09425f;
  padding: 4px 9px;
  transition: all 0.5s ease;
}

.nav__hom {
  position: relative;
  left: 150px;
  top: 3px;
}

.a {
  font-size: 20px;
  color: white;
  position: fixed;
  padding-left: 10px;
}

/* Esta parte es para mover el slideBar */
#check:checked ~ .sidebar {
  right: 0px;
}
#check:checked ~ .label .nav__img {
  right: 0px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ .label .nav__cancel {
  right: 195px;
}
#check:checked ~ section {
  margin-right: 250px;
}
.section {
  background: url(src/fondos/cordillera.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all 0.5s;
}

.target {
  width: 500px;
  height: 500px;
  background: white;
  border-radius: 10%;
  padding: 1rem;
  opacity: 0.9;
}

.you-frends {
  width: 130px;
  height: 130px;
  border-radius: 45%;
  padding: 3rem;
}

.container-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
}

.card-container {
  display: flex;
  width: 600px;
  height: auto;
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.header-card {
  border-right: 1px solid #ddd;
}

.descripcion {
  background: #fbfbfb;
}

.header-card,
.descripcion {
  padding: 20px;
  text-align: center;
}

.header-card a {
  padding: 20px;
  text-align: center;
}

.letra-2 {
  border-radius: 40%;
  box-shadow: 0 0 0 8px rgb(0, 0, 0, 0.06);
  margin: 20px 30px;
  transition: 0.2s;
  height: 130px;
}

.header-card a:hover .letra-2 {
  box-shadow: 0 0 0 12px rgba(0, 0, 0, 0.1);
}

.header-card h2 {
  color: #f0522a;
}

.header-card h4 {
  margin-bottom: 20px;
}

.descripcion p {
  margin: 20px 30px;
}

.descripcion .social {
  margin-top: 25px;
}

.descripcion .social a {
  display: inline-block;
  padding: 0 15px;
}

.select-nav-home {
  padding: 10px;
}

.select-nav-home > a.seleccionado {
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a7bd5,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a7bd5,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 5px #eee;

  padding-left: 50px;
}

.fixed__hiden {
  visibility: hidden;
}

.coco,
.coco2,
.coco3,
.coco4 {
  visibility: hidden;
  position: fixed;
}

.fixed__show {
  visibility: visible;
}

.op::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.back {
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* Querys de la tarjeta de presentacion */
@media (max-width: 700px) {
  .card-container {
    display: block;
    border: 0;
  }
  .sidebar {
    z-index: 2;
    display: inline;
    float: right;
  }
  .ul .select-nav-home:hover a {
    padding-left: 0px;
  }
  .a {
    font-size: 18px;
  }
}
/* Qerys de; navBar */
@media (max-width: 380px) {
  .sidebar {
    width: 40%;
  }

  #check:checked ~ .label .nav__cancel {
    right: 15%;
  }
  .sidebar header {
    text-shadow: transparent;
    color: transparent;
    text-decoration: none;
  }
  .a {
    font-size: 15px;
  }
  .select-nav-home:hover a {
    padding-left: 0px;
  }
  .select-nav-home > a.seleccionado {
    padding-left: 0px;
  }
  /* Aqui tenemos un pequeño bug que tengo que arreglar porque aparece un margen enblanco que no puedo eliminar que trae por defecto csss */
  #check:checked ~ section {
    margin-right: 115px;
    transition: all 3.5s;
  }
}
